.base {
  border: 1px solid #d5d4d4;
  border-radius: 3px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 17px 15px;
}

.base::placeholder {
  color: #d4d4d4;
}

.base:-ms-input-placeholder {
  color: #d4d4d4;
}

.base::-ms-input-placeholder {
  color: #d4d4d4;
}

.base:focus {
  outline: none;
  border: 1px solid #000;
}
