// ==========================================================================
// #Base: Global
// ==========================================================================

html, 
body {
    height: 100%;
}

body {
    font-family: 'PP Object Sans',sans-serif;
    background-color: #f9f8f5;
}

#__next {
    height: 100%;
}