// ==========================================================================
// #Base: Theming
// ==========================================================================
//
//  Table of Content
//  - Light Mode
//  - Dark Mode
//
//


// Main Site Theme
// ==========================================================================

:root{
    --brand-color-100: blue;
    --brand-color-200: blue;
    --brand-color-300: blue;
    --brand-color-400: blue;
    --brand-color-500: blue;
    --brand-color-600: blue;
    --brand-color-700: blue;
    --brand-color-800: blue;
    --brand-color-900: blue;
    --brand-color-default: blue;


    // --color-bg-base: 255, 255, 255;
    // --color-text-base: red;
    // --color-text-muted: red;
    // --color-background: black;
    // --color-bg-base: 255, 255, 255;
}