// ==========================================================================
// # Input
// ==========================================================================

.input{ 
 
    
    &-group {
        display: flex;

        .form-group {
            margin-left: -1px;
        }
        .form-group:not(:last-of-type) {
            & input {
                margin-left: 0px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                @apply focus:z-10 relative;
            }
        }
        .form-group:not(:first-of-type) {
            & input {
                margin-left: 0px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }


    }


}