.button {
    display: flex;
    outline: none;
    border: 1px #FFF solid;
    background: #F9F9F9;
    padding: 7px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    gap: 6px;
}

.button__icon {
    width: 12px;
    height: 12px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-radius: 50%;
    font-size: 8px;
}