:root {
  --white: #ffffff;
  --lightGrey: #f6f6f6;
  --mediumGrey: #f9f9f9;
  --darkBg: rgba(0, 0, 0, 0.25);
}

html {
  font-size: 10px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-bar-btn {
  background-color: var(--lightGrey);
  border: .1rem solid var(--mediumGrey);
  border-radius: .2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .8rem;
  height: 2.8rem;
  cursor: pointer;
}

.modal-window {
  background-color: var(--darkBg);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.modal-box {
  background-color: var(--white);
  /* width: 410px; */
  /* height: 58.4rem; */
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 0 0 1rem 0 var(--darkBg);
}
