@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ObjectSansRegular";
  src: url("Fonts/ObjectSans-Regular.otf") format("opentype");
}

* {
  font-family: "ObjectSansRegular", sans-serif;
}

/* ##### HIDDEN NUMBER INPUT ARROW ICONS  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
