.css-1fdsijx-ValueContainer {
    height: 50px;
    font-size: 16px;
    color: #000;
}

.css-1dimb5e-singleValue {
    color: #000 !important;
    font-family: 'PP Object Sans', sans-serif !important;
}